<div>
	<h3>Sensors:</h3>
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Current Experiment</th>
		</thead>
		<tbody>
	<% @devices.each do |device| %>
		<tr><td><%= link_to device.name, device %></td>
			<td>
			<%= device.in_experiment? ? link_to(device.experiment.name, device.experiment) : "None" %></td>
		</tr>
	<% end %>
	</tbody></table>

		<div class="center" style="margin-top:1em;">
			<%= link_to "View sensors", devices_path %>
		</div>

</div>