<% provide :container_class, "home-container" %>
<% provide :body_style, "margin:none; padding:0 0 0 0;" %>
<% provide :navbar_title, "Wicked Device <sup><span class=\"llc\">LLC</sup></span> CO2 Sensor Monitoring".html_safe %>
<% provide :body_class, "white-nav" %>
<div class="hero">
	<row>
		<div class="col-xs-7"> </div>
		<div class="col-xs-1 glyphicon-column"><div>

			<span rel="tooltip" data-toggle="tooltip" title="Photo by Barbara Friedman" data-placement="left"><i class="glyphicon glyphicon-camera"></i></span>


		</div> </div>
		<div class="col-xs-4 text-on-image">
			<h3>
				Measure CO2 concentrations.<br><br>Automatically store your data in the cloud.
			</h3>
		</div>
	</row>
</div>