<div id="building_chart" style="margin-bottom: 30px;"></div>
<script>

new Dygraph(
  document.getElementById("building_chart"),
  "/buildings/<%=@building.id%>/chart.csv",
  { //Options
    connectSeparatedPoints: true, //Otherwise, buildings with multiple sensors are a mess

    width: false,
    height: 320,

    title: "<%= @building.name %>",
    ylabel: 'Value',
    xlabel: 'Time',


    //legend: "always",
    hideOverlayOnMouseOut:true,

    interactionModel : {},

    highlightCircleSize: 1,
    strokeWidth: .5,
    strokeBorderWidth: true ? null : .5,

    highlightSeriesOpts: {
      strokeWidth: 1,
      strokeBorderWidth: .5,
      highlightCircleSize: 2,
    },

    includeZero: false,

    drawPoints:true,
    pointSize:1,

    //labelsDiv: "chart_labels",
    labelsSeparateLines: true,
    yAxisLabelWidth:70,
    //xAxisLabelWidth: 100,
    xRangePad: 50,
    yRangePad: 50,
    axes: {
      x: {
        axisLabelFormatter: function(ms) {
                  return new Date(ms).strftime('%H:%M');
                }
      },

      y: {
        valueFormatter: function(value)
        {return value}
      },
    },

  })


</script>
